html, body{
    margin:0;
}

header{
background-color: white;
color: black;
height:60px;
width:100%;
position:relative;
z-index: 10;
}

#logo {
width: 70px;
position: absolute;
top: 10px;
margin-left: 5%;
}

#menu { 
    float:right;
    margin-right: 5%;
    list-style: none;
    color: grey;
}

li {
    float: left;
    padding: 10px;

}

li:hover{
    background-color: white;
}

.topo {
    background: url("imagens/peixinhos.jpg");
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0%;
    margin: 0px;
    font: bold; 
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    
}

.conteudo {
    padding: 10px;
    padding-left: 30px;
    margin: 50px;
    font: bold; 
    color: black;
    
}

.site {
 
    padding-left: 10%;
    padding-right: 10%;
    background: url("imagens/fundo.jpg");
    height: 100%;
    background-image: cover;
}

@media screen and (min-width: 768px) { 
    .topo {
            }
    .conteudo {
    }
  }

  #acao{
    color: white;
    padding: 10px 10px 10px 10px;
  }

  .icone{
    width:51px;
  }

  section{
    padding: 20px;
    float: left;
  }

  .destaque{
    background-color: #3ec8c1;
  }

  .destaque3{
    background-color: pink    ;
  }

  .terraverde{
    width:50%;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;

  }

  .colunadefault{
    float: left;
    padding: 0 5%;
    position: relative;  
  }

  .coluna1{
    width: 40%;
}
  
  .coluna2{
    width: 15%;
  }

  .coluna3{
    width:50%;
    padding-right: 40%;
  }
  
  .justificado{
    text-align: justify;
  }

  .centralizado{
    text-align: center;
  }

.mapa{
    width:50%;   
}

#conteudo{
    width:90%;
}

#projeto{
    width:90%;  
}

#decomposicao{
    width:90%;
}

#ecopontos{
    width:50%;
}

#sobremim{
    width:90%;
}


footer{
    width: 90%;
    text-align: center;
    float: left;
}